.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid 1px black;
    padding-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 0.25rem;
}

.view-plum {
    background-color: plum;
}

.view-skyblue {
    background-color: skyblue;
}