@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: Inter;
}

h1,
h2 {
    margin: 0;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: .5rem;
    align-items: center;
}

.label {
    align-self: flex-start;
}

.input {
    background-color: rgb(222, 246, 235);
    border-width: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-left: 5px;
}

.button {
    background-color: rgb(222, 246, 235);
    border-width: 0;
    border-radius: 5px;
    line-height: 1.5rem;
    padding-left: 5px;

}

.post-image {
    max-width: 300px;
    display: flex;
}

.header {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
}

.new-post-panel {
    margin-top: 20px;
}