<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header class="home-header">
        <div class="hello-header">
            <h2>Hello Pepito</h2>
            <h1>Amazing App</h1>
            <button>Log out</button>
        </div>
    </header>

    <main class="home-main">
        <img class="home-main-image" src="https://static.vecteezy.com/system/resources/previews/023/342/791/non_2x/cat-love-cat-couple-hugging-cuddling-and-kissing-two-cute-cat-kittens-in-love-holding-red-heart-on-valentines-day-generative-ai-photo.jpg" >
        <div class="home-left">
            <p class="home-main-text">hola como estas</p>
        </div>
        <div class="home-right">
        </div>
    </main>

    <footer class="home-footer">
        <p>&copy;B00tc4mp</p>
        <a href="">About us</a>
    </footer>
</body>
</html>