*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;

}

footer p{
    color: red
}

.home-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 214, 133);
    padding: 10px;
    border: 2px solid black;
    height: 10%;
    font: serif;
}

.hello-header{
    display: flex;
    justify-content: space-between;
}

.home-main{
    height: 80%;
    display: flex;
}

.home-left{
    height: 100%;
    width: 100%;
    background-color: bisque;
    background-image: url("https://img.freepik.com/foto-gratis/perrito-joven-posando-alegre_155003-28765.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.home-right{
    height: 100%;
    width: 100%;
    background-color: brown;
    background-image: url("https://s3.abcstatics.com/abc/www/multimedia/gastronomia/2022/09/23/ap-Rl7IVY9lxCKyFx8NL0SzphL-1240x768@abc.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.home-footer{
    display: flex;
    gap: 10px;
    height: 10%;
    background-color: rgb(110, 214, 133);
}

.home-main-image{
    position: absolute;
    left: 40%;
    right: 40%;
    width: 20%;
}