
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.home-header{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height: 10%;
}

.home-header-nav{
    display: flex;
    gap: 10px;
}

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.section-posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

.post-buttons-container{
    display: flex;
    justify-content: space-between;
}

.settings-main{
    height: 70%;
}

.change-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change-password-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap:10px;
}

.change-password-inputs-container{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.off{
    display: none;
}
